<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Shop</title>
    <link rel="stylesheet" type="text/css" href="shop.css">
</head>
<body>
WELCOME TO THE SHOP

{% for item in stock %}
    <div>
        <span> {{ item.name }} </span> | <span> {{ item.price }} </span>
    </div>
{% endfor %}

</body>

</html>