<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Shop</title>
</head>
<body>
<h1>WELCOME TO THE SHOP</h1>
<div class="stock">

{% for item in stock %}
    <div class="item">
        <div> {{ item.name }} {{ item.price }} <form method="post" action="shop"><input type="hidden" name="id" value={{ item.id }}/><button type="submit">ADD TO CART</button></form></div>
    </div>
{% endfor %}

</div>
<a href="/cart">SHOW CART</a>
</body>
</html>